<% layout('./layout/boilerplate') %>

  <h2>ALL CAMPGROUNDS</h2>
  <%for(let camp of campgrounds){%>
    <div class="row mt-3">
      <div class="col-md-4">
        <img src="<%=camp.img%>" alt="<%=camp.tittle%>" class="all-camp-img">
      </div>
      <div class="col-md-8">
        <h3>
          <%=camp.tittle%>
        </h3>
        <h3>Location : <%=camp.location%>
        </h3>
        <p>
          <%=camp.description%>
        </p>
        <li>
          <a href="/campground/<%=camp._id%>" class="btn btn-primary">
            Show campground
          </a>
        </li>
      </div>
    </div>

    <%}%>